@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'); 
}

body {
  font-family: 'Roboto';
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #fff;
}

.box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.1rem;
  padding: 3.5rem;
  padding-bottom: 5.5rem;
  padding-right: 1rem;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  border-radius: 8px;
}

.box h2 {
  margin: 0px 0 -0.125rem;
  padding: 0;
  text-align: center;
  color: #202124;
  font-weight: 400;
}

.box .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}

.box p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: center;
}

.box .inputBox {
  position: relative;
  left: -21px;
  padding-top: 7.9rem;
}

.box .inputBox input {
  width: 89%;
  padding: 1.1rem 1px;
  letter-spacing: 0.062rem;
  margin-bottom: 1.3rem;
  border: 1px solid #dadce0;
  background: transparent;
  border-radius: 4px;
  padding-right: 1rem;
}


.box .inputBox label {
    position: absolute;
    padding-top: 1.6rem;
    left: 17px;
    font-size: 1rem;
    top: 7.5rem;
    color: #6a6e73;
    pointer-events: none;
    transition: 0.2s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -1.125rem;
    color: #1a73e8;
    font-size: 0.75rem;
    background-color: #fff;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 5.85rem;
    padding-left: 5px;
    padding-right: 5px;

}

.box .inputBox input {
    font-family: 'Roboto';
    font-size: 1rem;
    outline: none;
    padding-left: 15px;
    letter-spacing: 0rem;
}

#displayValue1 {
  position: relative;
  left: 100402rem;
}

#displayValue {
  position: relative;
  font-family: 'Roboto';
  font-size: 0.87rem;
  left: -4px;
  padding-right: 5px;
}

.box .inputBox input:focus {
    outline: none;
    padding-left: 15px;
    border: 2px solid #1a73e8;
}

.logo {
  padding-left: 33%;
}

#submit {
    position: relative;
    right: 25px;
    top: 11px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.725rem 1.55rem;
    cursor: pointer;
    border-radius: 0.312rem;
    float: right;
  }

  #submit:hover {
    background-color: #1b66c9;
    box-shadow: 0 1px 1px 0 , 0 1px 3px 1px;
  }
 
#gogle {
    font-family: 'Roboto';
    font-size: 0.9rem;
    position: absolute;
    left: 40%;
    border: 1px;
    border-radius: 10px;
    padding-top: 10rem; !important
    border-color: #aaa;
    letter-spacing: 0rem; !important

  } 

#addressimage {
  font-family: 'Roboto';
  position: relative;
  left: -80px;
  border: 1px;
  border-radius: 10px;
  border-color: #aaa;
  padding-bottom: 10px;
  letter-spacing: 0rem; !important
  position: relative;
  width: 4.3%;
  top: 3.7px;
}

.misc {
  position: relative;
  top: 2rem;
}

.misc * {
  background-color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Roboto';
  color: #44484a;
  outline: none;
  border: none;
  cursor: pointer;
  left: 38.14%;
  top: 46.8rem;
  padding-left: 23px;
}

 
#arrow {
  position: relative;
  width: 0.5%;
  padding-left: 6%;
}

#ro {
  position: relative;
  font-family:'Roboto';
  font-size: 0.75rem;
  top: 47.8rem;
  left: 38.41%
}

#help {
  position: relative;
  padding-left: 3.9px;
}

#confid {
  position: relative;
}

#terms {
  position: relative;
}

.gogle1 {
  font-family: 'Roboto';
  position: relative;
  left: -27px;
  top: -10px;
  letter-spacing: -0.05rem;
}


.box #forgot {
    font-family: 'Roboto';
    position: relative;
    left: -152px;
    top: 54px;
    padding-bottom: 1rem;
    border: none;
    outline: none;
    color: #1a73e8;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.312rem;
  }

  #contin {
    font-family: 'Roboto';
    font-size: 0.89rem;
    font-weight: 400;
    position: relative;
    left: -48px;
    bottom: -85px;
    margin-bottom: 100px;
  }

  #show {
    font-family: 'Roboto';
    font-size: 0.9rem;
  }
 
#check {
  position: relative;
  font-size: 53rem; 
  right: 5px;
}


.afiseaza {
  position: relative;
  width: 14rem;
  padding-bottom: 20px;
  left: -3.875rem;
}

 #catal {
      position: relative;
    }

    .custom-container {
      position: absolute;
      top: 32%;
      left: 49%;
      transform: translate(-50%, -50%);
      text-align: center;
      border: 1px solid #aaa; 
      border-radius: 40px; 
      padding-left: 12px; 
      display: flex;
      height: 5%;
      align-items: center;
      justify-content: center;
    }

    .custom-container img {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      margin-bottom: 19px;
    }

    .custom-container p {
      margin-top: 0; 
      font-family: Arial, sans-serif;
    }

  #png {
    position: relative;
    top: 9.5px;
    right: 6px;
    padding-right: 2px;
    height: 59%;
    width: 18px;
  }


  #img {
    position: relative;
    top: 10px;
    right: 3px; 
    padding-right: 3px;
  }
